.footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    //padding: 2rem 0 1.5rem;

    padding: 1.5rem 0; /* Réduisez la marge supérieure pour le footer */
   
    //bottom: 0;
    width: 100%;
    
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }